body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #0f5ec4, #1e69de);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  flex-direction: column;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.title-container {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -300%);
  text-align: center;
}

.title {
  white-space: nowrap;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  width: 500px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 2px solid #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
  position: relative;
  top: -40px;
}

.input-container input:focus {
  border-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.input-container .error {
  margin-top: 10px;
  color: #ff4d4d;
  font-size: 1rem;
}

.button-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.btn-custom {
  white-space: nowrap;
  font-size: 5rem;
  font-weight: bold;
  padding: 20px 50px;
  margin: 10px;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
  position: relative;
  margin-top: 60px;
}

.btn-custom:hover {
  transform: scale(1.2); /* ขยายปุ่มเมื่อ hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.btn-custom i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .btn-custom {
    font-size: 1.5rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .btn-custom {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

.message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  display: none; 
}

.message-container.show {
  display: block; 
}

.message {
  margin-bottom: 20px;
  font-size: 24px;
}

.btn-primary {
  font-size: 18px;
}

.timer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
